<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Environment" value="Development" />
		<add key="OrderMaker" value="Capital" />
		<add key="OrderMakerIP" value="" />
		<add key="SecurityKey" value="f87fe28f-210f-475b-92a5-02b7344097d5" />
		<add key="Mode" value="BasicTest" />
		<add key="SId" value="" />
		<add key="Password" value="" />
		<add key="Begin" value="84500" />
		<add key="End" value="233000" />
		<add key="LogFile" value="C:\applog\receiver" />
	</appSettings>
</configuration>